<h1>Send Email</h1>

<form method="post">
    <label>To:</label>
    <input type="text" class="form-control" name="to"/>
    <label>Asunto:</label>
    <input type="text" class="form-control" name="asunto"/>
    <label>Asunto:</label>
    <textarea name="mensaje" class="form-control"></textarea>
    <button class="btn btn-outline-primary">Enviar Mail</button>
</form>