<h1 style="color: forestgreen">Ejemplos Caching</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="MemoriaDistribuida" asp-controller="Caching">Memoria Distribuida</a>
    </li>
    <li class="list-group-item">
        <a asp-action="MemoriaPersonalizada" asp-controller="Caching">Memoria Personalizada</a>
    </li>
</ul>