@model List<Coche>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Coches
    </button>
    <ul class="dropdown-menu">
        @foreach (Coche coche in Model)
        {
            <a class="dropdown-item" asp-controller="Coches" asp-action="Details" asp-route-idcoche="@coche.IdCoches">
                @coche.Marca @coche.Modelo
            </a>
        }
    </ul>
</div>